version: '3.4'

volumes:
  datamemoteca:

services:
  apigateway:
    build:
      context: ./MemotecaApi/ApiGateway
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    restart: always
    networks:
      - apprede

  dbmemoteca:
    image: mysql:8.0.22
    cap_add:
      - SYS_NICE
    volumes:
      - datamemoteca:/var/lib/mysql
      - "~/sql-scripts/setup.sql:/docker-entrypoint-initdb.d/1.sql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: memotecadb
    networks:
      - apprede

  memotecaapi:
    build:
      context: ./MemotecaApi/MemotecaApi
      dockerfile: Dockerfile
    depends_on:
      - dbmemoteca
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Test
    networks:
      - apprede
  
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    depends_on:
      - memotecaapi
    ports:
      - "4000:4200"
    restart: always
    networks:
      - apprede

networks:
  apprede:
    driver:
      bridge
